In [82]:
import os
import glob
import pandas as pd

In [20]:
path = ".\Dataset"

In [80]:
def parseFile(msg_id,entry,label,mails_list):
    try:
        file = open(entry, encoding="latin_1")
        content = file.read().split("\n", 1)
    except (UnicodeDecodeError):
        print("Problem with file:" + str(entry))
    subject = content[0].replace("Subject: ", "")
    message = content[1]
    file.close()
    mails_list.append([msg_id,subject, message, label])
    return mails_list

In [81]:
mails_list=[]
msg_id=0
for root, subFolders, files in os.walk(path):
        if "Summary.txt" not in files:
            for filename in glob.iglob(root + '**/*.txt', recursive=True):
                #print(os.path.abspath(root))
                #print(root)
                #filePath=root+"\\"+filename
                label=os.path.split(os.path.dirname(filename))[-1]
                mails_list=parseFile(msg_id,filename,label,mails_list)
                msg_id +=1

In [83]:
df = pd.DataFrame(mails_list,columns=["Message ID","Subject","Message","Spam/Ham"])
df.head()

,Message ID,Subject,Message,Spam/Ham
0,0,christmas tree farm pictures,,ham
1,1,"vastar resources , inc .","gary , production from the high island larger ...",ham
2,2,calpine daily gas nomination,- calpine daily gas nomination 1 . doc,ham
3,3,re : issue,fyi - see note below - already done .\nstella\...,ham
4,4,meter 7268 nov allocation,fyi .\n- - - - - - - - - - - - - - - - - - - -...,ham

In [84]:
df.to_csv("EnronSpamData.csv",index=False)